/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

h1.descPage{
    font-size: 1.5em;
    margin-block-start: 0px;
    margin-block-end: 0px; 
    width: auto;
}


a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

ul{
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px
    
}

/******************** En-tête *******************************/

header{
    display: flex;
    align-items: center;
    height: 60px;
    
}

#logo{    
    height: 25px;
}

.navigation{
    display: flex;
    list-style-type: none;
    align-items: flex-start;
    width: 200px;
    justify-content: space-between;

}

li.navElement:hover{
    color: #0066ff
}

nav{
    margin-top: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 60px;
    width: 100%;
}



/**************** Barre de recherche ******************/

input.searchBar{
    text-align: center;
}

.searchBarContainer{
    display: flex;
    width: 100%;
}

.searchItem{ 
    box-sizing: border-box; /* Inclus les bordures et padding dans les 30px de height, sinon le button est plus petit que le reste de la searchBar*/ 
    height: 45px;
    border: 1px;
    border-color: #f2f2f2;
    border-style: solid;

}

i.fa-location-dot{
    display: flex;
    align-items: center;
    color: black;
}

.iconWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.searchBar{
    width: 200px;
}

.submitButton{
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 130px;
    font-size: medium;
    font-weight: bold;
    
}

/****************** Filtres ************************/

.filterbar-conteneur{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55%;
}

#filtres{
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: bold;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.filter{
    height: 45px;
    box-sizing: border-box;
    border: 1px;
    border-color: #f2f2f2;
    border-style: solid;
    border-radius: 40px;
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: bold;
    padding: 0px 20px 0px 20px;
}

.filter:hover{
    background-color: #DEEBFF ;
}

.filterName{
    margin-block-start: 5px;
    margin-block-end: 5px;
    margin-left: 10px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements-cards a{
    width: 30%;
}
.hebergements {
    width: 65%;
}

.hebergements-cards{
    display: flex;
    justify-content: space-between;
    display: row;
    flex-wrap: wrap;

}

.hebergements-cards img{
    width: 100%;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card{
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}

.hebergements-cards .card-content {
    width: 100%;
    height: 100px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards h3{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.show-more-link{
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/************* Activités à Marseille, plus belle ville de France <3 ***************/

.activites{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

.activites .section-title{
    margin-bottom: 30px;
}

.activites-cards{
    display: flex;
    justify-content: space-around;

}

.card-text{
    display: flex;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-left: 15px;
    align-items: center;
    height: 10%;
}

.activites .card{
    width: 22%;
    height: 450px;
}

.activites img{
    height: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.card-text{
    font-size: 16px;
}

/************* Pied de page ****************/

footer{
    display: flex;
}

.column{
    width: 33%;
    padding: 20px 20px 0px 20px;
    background-color: #f2f2f2;;
}

li{
    margin-bottom: 20px;
}

li.title{
    font-size: 18px;
    font-weight: 700;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container{
        padding-right: 20px;
        padding-left: 20px;
    }

    header{
        flex-direction: column;
        margin-bottom: 60px;
    }

    nav{
        justify-content: space-around;
        width: 85%;
    }

    .navigation{
        width:100%;
    
    }

    #logo {
        margin-top: 30px;
    }

    .navElement{
        margin-bottom: 10px;
    }

    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filterbar-conteneur{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .filter{
        justify-content: center;
        width: 45%;
        margin-top: 20px;
    }

    #filtres{
        width: 100%;
    }

    .hebergements-and-populaires{
        flex-direction: column-reverse;
    }

    .populaires{
        margin-top: 0px;
    }
    
    .populaires-cards{
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements-cards{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .activites-cards{
        flex-direction: column;
    }

    .activites-cards .card{
        width: 100%;
        height: 200px;
    }

    .activites-cards .card img{
        height: 75%;
    }

    footer{
        flex-direction: column;
    }

    footer .column{
        width: 100%;
        margin-left: -20px;
    }
    
}
